@font-face {
    font-family: 'Marmelad';
    src: url(../homestroy/font/marmelad-regular-webfont.eot);
    src: url(../homestroy/font/marmelad-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../homestroy/font/marmelad-regular-webfont.woff) format('woff'),
         url(../homestroy/font/marmelad-regular-webfont.ttf) format('truetype'),
         url(../homestroy/font/marmelad-regular-webfont.svg#marmeladregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
